* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* 弹性布局 */

.flex {
    display: flex;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-Updown-around {
    align-items: center;
    justify-content: space-around;
}

.flex-Updown-between {
    align-items: center;
    justify-content: space-between;
}


/* 弹性布局上下居中 */

.flex-Updown {
    align-items: center;
}


/* 弹性布局左右居中 */

.flex-orso {
    justify-content: center;
}


/* 两端对齐 */

.flex-around {
    justify-content: space-around;
}

.flex-between {
    justify-content: space-between;
}

.inline {
    display: inline-block;
}

.block {
    display: block;
}


/* 盒子模型 */

.box {
    box-sizing: border-box;
}


/* 外边距 */

.m-auto {
    margin: 0 auto;
}

.m-left-auto {
    margin-left: 50%;
    transform: translateX(-50%);
}

.m-top-auto {
    margin-top: 50%;
    transform: translateY(-50%);
}


/* 左右边距 */

.mr10 {
    margin-right: 10px !important;
}

.m010 {
    margin: 0 10px 0 10px;
}

.m020 {
    margin: 0 20px 0 20px;
}

.m030 {
    margin: 0 30px 0 30px;
}

.m040 {
    margin: 0 40px 0 40px;
}

.m050 {
    margin: 0 50px 0 50px;
}

.m060 {
    margin: 0 60px 0 60px;
}

.m070 {
    margin: 0 70px 0 70px;
}

.m080 {
    margin: 0 80px 0 80px;
}

.m090 {
    margin: 0 90px 0 90px;
}

.m0100 {
    margin: 0 100px 0 100px;
}

.mt30 {
    margin-top: 30px;
}


/* 点击变色 */

.button {
    text-align: center;
    line-height: 100%;
    /* box-shadow: 2px 2px 5px #333333;*/
    border-radius: 10px;
    cursor: pointer;
    -moz-user-select: none;
    /* Firefox私有属性 */
    -webkit-user-select: none;
    /* WebKit内核私有属性 */
    -ms-user-select: none;
    /* IE私有属性(IE10及以后) */
    -khtml-user-select: none;
    /* KHTML内核私有属性 */
    -o-user-select: none;
    /* Opera私有属性 */
    user-select: none;
    /* CSS3属性 */
}

.zzzc {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999999999;
}

.button:active {
    opacity: .7;
}


/* 总父级 */

.parent {
    width: 100%;
    min-height: 100%;
}


/* 子元素撑满 */

.childAll {
    width: 100%;
    height: 100%;
}

.w100 {
    width: 100%;
}

.rz {
    position: relative;
    z-index: 9;
}


/* 取消a标签在移动端点击时的蓝色 */

a {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none;
}


/* 使用图片作为a标签的点击按钮时，当触发touchstart的时候，往往会有一个灰色的背景 */

a,
a:hover,
a:active,
a:visited,
a:link,
a:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
    background: none;
    text-decoration: none;
}


/* 改变选中内容的背景颜色 */


/* 
::selection {
    background: #FFF;
    color: #333;
}

::-moz-selection {
    background: #FFF;
    color: #333;
}

::-webkit-selection {
    background: #FFF;
    color: #333;
} */

.mr40 {
    margin-top: 40px;
}

.Yauto {
    overflow-x: hidden;
    overflow-y: auto;
}


/* 去除ios input框点击时的灰色背景 */

input {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.box::-webkit-scrollbar {
    width: 12px;
    height: 200px;
}

.mt0 {
    margin-top: 0;
}

.p12 {
    padding-right: 12px;
}

.mr50 {
    margin-right: 50px;
}

.ml50 {
    margin-left: 50px;
}

.pl50 {
    padding-left: 100px;
    padding-right: 30px;
}

.h200 {
    height: 200px;
    overflow-y: scroll;
}

.h300 {
    height: 300px;
    overflow-y: scroll;
}

.h150 {
    height: 150px;
    overflow-y: scroll;
}

.mr100 {
    margin-right: 100px !important;
}

.ml100 {
    margin-left: 100px !important;
}

.ml200 {
    margin-left: 200px !important;
}

.ml300 {
    margin-left: 300px !important;
}

.h0 {
    height: 0px;
}

.mt0 {
    margin-top: 0 !important;
}

.op0 {
    opacity: 0;
}


/*滚动条滑块*/

.box::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgb(38, 45, 78);
    background: #083c77;
}


/*滚动条轨道*/

.box::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px #04254b;
    border-radius: 2px;
    background: #04254b;
}